@import "tailwindcss";


.input {
  @apply w-full border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}


